footer {
  font-size: 1em;
  background-color: transparent;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity:0.5;
  color: #ffffff;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  z-index: 3;
}

footer p{
  background-color: transparent;
}

.social-icons {
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 1.5em;
 
}
.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #1da1f2;
  
}
