.homepage_message {
  display: relative;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding-left: 4em;
  font-size: 2em;
}

.homepage_image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding-left: 4em;
  font-size: 2em;
  font-weight: bold;
}

.avatar {
  width: 12em;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(29, 161, 242, 0.2), 0 0 50px rgba(29, 161, 242, 0.5),
    0 0 100px rgba(29, 161, 242, 0.8);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage_message span {
  color: #1da1f2;
}

.homepage_description {
  font-size: 0.7em;
  opacity: 0.5;
  font-weight: normal;
}

/* media queries------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1280px) {
  .homepage_message {
    font-size: 1.3em;
  }

  .avatar {
    width: 10em;
    box-shadow: 0 0 10px rgba(29, 161, 242, 0.2),
      0 0 25px rgba(29, 161, 242, 0.4), 0 0 50px rgba(29, 161, 242, 0.6);
  }

  .homepage_description {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 800px) {
  .homepage_message {
    font-size: 1em;
  }

  .avatar {
    width: 8em;
    box-shadow: 0 0 9px rgba(29, 161, 242, 0.2),
      0 0 25px rgba(29, 161, 242, 0.4), 0 0 50px rgba(29, 161, 242, 0.6);
  }

  .homepage_description {
    font-size: 0.6em;
  }
}
